<div class="film-container content">
    <ng-container *ngFor="let film of films">
        <div class="film">
            <div class="film-thumb-container" (click)="openFilm(film.filmId)">
                <img src="https://picsum.photos/seed/{{film.filmId}}/300"
                alt="thumbnail"
                class="film-thumbnail"/>
            </div>
            <div class="film-description">
                <p class="film-title">{{ film.title | titlecase }}</p>
                <p class="film-rating">{{ film.length }} minutes</p>
                <p class="film-category">
                    <span *ngFor="let category of film.filmCategory; let last = last">{{ category.name }}
                    <span *ngIf="!last">,</span></span>
                </p>
                <img src="../../../assets/delete.jpg" class="delete-btn" (click)="removeFilm(film.filmId)">
                <img src="../../../assets/edit.jpg" class="edit-btn" (click)="openEdit(film.filmId)">
                <img src="../../../assets/add.jpg" class="add-btn" (click)="goToPage('Update')">
            </div>
        </div>
    </ng-container>
</div>

